sudo: required
dist: xenial

services:
  - docker

env:
  global:
    - secure: "BfsyCVl/vuQ3pJTl0nANRBO0bd/HZ02SKG7BOk9j9ksUU9lPFzGbOaWasRW/x6ZIHWMbe0FMjoOP/q11CiaX5UdemcuvRYELNAvGOMrkYqWfOM9ow5X2/Os4dfPv2UQUXn7AXkD9yjxVlJLDaGvbveXPZTNX1GAinYuQ3LR+WV5RphLl6adapNyot/fI/hWayfTCD49HdtYL2uuKO06cWOA7miRSPmndHc0/LV7bZ/P0zicDp1AMLJYksCWjmtw9FEEdgK120JQi35wElZtWoqgicpyM3FyGVNxAbMSuNllurnIAE++dawI4fW5qhtnzIZlFHZ/X1D0r8pyvGWJlUO+lllSPCSqZAKU192oyftWdnNkegCkMq5XWyKybwEpjKZ+2uJyMoVa62yoLx1OjDsIbtBI5CZ9PIn0HDFfeB4WH81tYsYtIqrsQudoqmYbJ0elib32h6iM2mcAp89Z5+rFWgZnlJI6xCdWdIwQ0EXB3ORkOb+8QVN5zhL5DMA7MS57dGOvMdyt/dEzeCpB/ckEMABUbBY29PnNNpYSw4uTrGh0cvnliC6DVb0LAZ2ZPY+MTXqTANt3InFPhRS3y1v9pI9a/0VFCU04nKZ4wMMz5Hb95QZH90gFgcvP2qhoLr8GxuhQue7KimSPJEpRLfKyiY6E1tji+nR/J1MUsBrg="
    - secure: "QKbXOIJgNpeWmTPFDuLdh1QMTPsNO/14wuemFLCaVPmefKWBqusliplmwaJB7TKRIK7ori9R6LlRzlfG9q0j8K5t2lhrM+ec+SUbK+oWHv5nzteLZYU4Cm4R8aH7Jruo6Vi3Sf/hcCM2V6BfTas1v1MgjuoiOxqnWWjh6prGmAGfuN9Msx4AjNvCtQs9VUKebFjsrXKv/JyvyLrw4NCDbYtZHfhlHt2xrLXDkCSNy81ey4j4kl6ozKWWnYd/4ZuyiURQSRpsMpVbabQxcABJ8E7JUfotnBWO+wvtTrFJP9AHPK+KsF3fGeIOG+fHYWm3ZgFyRwHUJw1wx6GyVI+iosZPkzo7kKSwBjSmegdO3IyzI0RBwV8QP8gJgyMvLDhaIYPo3omSmX0qyLi8uEXtraU6Hrwu49/BoC66JIZjVmCPAf2gbfOsWMaHnjA7ydzGsEqyNpBEis4BIuOrOzUANRxIUztjxivgZ5imZMRyfPdCGe43x7MRdGriL5S6G3sK5ThYBTuz68EiDG0hh6uoPETkrlqD8Fe65uQHHOA6UVN+PJrIfH5kUe6Mfu4sitN8nFgkEJOrL4jufXpKMoGtkLqv3RrHcQMowsFWXP53XymD9OEdiQhEf2eqXpeRKTBVJK8YXv58F+mt2ktX4pDrEHUPDokxD5TXQCOqnPqd24I="

language: java

before_script:
  - sudo -H apt-get update
  - sudo -H apt-get install -y maven python3 python3-setuptools python3-pip
  - sudo pip3 install --upgrade pip
  - sudo pip3 install cmake
  - sudo -H pip3 install --upgrade setuptools wheel virtualenv
  - sudo -H pip3 install $TRAVIS_BUILD_DIR/emulator
  - sudo -H apt-get install r-base libxml2-dev
  - sudo -H R --vanilla -e 'install.packages("stringi", dependencies=TRUE, INSTALL_opts = c("--no-lock"), repos="http://cran.us.r-project.org")'
  - sudo -H R --vanilla -e 'install.packages("stringr", dependencies=TRUE, INSTALL_opts = c("--no-lock"), repos="http://cran.us.r-project.org")'
  - sudo -H R --vanilla -e 'install.packages("glue", repos="http://cran.us.r-project.org")'
  - sudo -H R --vanilla -e 'install.packages("knitr", repos="http://cran.us.r-project.org")'
  - sudo -H R --vanilla -e 'install.packages("reticulate", repos="http://cran.us.r-project.org")'
  - docker pull dockcross/manylinux-x64
  - docker run -e TRAVIS_BUILD_DIR=$TRAVIS_BUILD_DIR -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR dockcross/manylinux-x64 /bin/bash -c "/opt/python/cp36-cp36m/bin/pip3.6 install cmake && cd $TRAVIS_BUILD_DIR && mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX=$TRAVIS_BUILD_DIR/installed .. && make && make install"

script:
  - sudo -H pip3 install $TRAVIS_BUILD_DIR/python-package && sudo -H python3 $TRAVIS_BUILD_DIR/emulator/brainflow_emulator/cyton_linux.py python3 $TRAVIS_BUILD_DIR/tests/python/brainflow_get_data.py
  # Disable this test temporary, dont know whats wrong can not reproduce locally, will investigate later
  #- cd $TRAVIS_BUILD_DIR && cd java-package/brainflow && mvn package && cd $TRAVIS_BUILD_DIR/tests/java/ && sudo -H javac -classpath $TRAVIS_BUILD_DIR/java-package/brainflow/target/brainflow-java-jar-with-dependencies.jar BrainFlowTest.java && ls -l . && sudo -H python3 $TRAVIS_BUILD_DIR/emulator/brainflow_emulator/cyton_linux.py java -classpath ".:$TRAVIS_BUILD_DIR/java-package/brainflow/target/brainflow-java-jar-with-dependencies.jar" BrainFlowTest 0
  - cd $TRAVIS_BUILD_DIR/r-package/brainflow && sudo -H R CMD build . && sudo -H R CMD INSTALL brainflow_0.0.0.9000.tar.gz && sudo -H python3 $TRAVIS_BUILD_DIR/emulator/brainflow_emulator/cyton_linux.py Rscript $TRAVIS_BUILD_DIR/tests/r/brainflow_get_data.R
  - cd $TRAVIS_BUILD_DIR/tests/cpp && mkdir build && cd build && cmake -DCMAKE_PREFIX_PATH=$TRAVIS_BUILD_DIR/installed .. && make && LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$TRAVIS_BUILD_DIR/installed/lib python3 $TRAVIS_BUILD_DIR/emulator/brainflow_emulator/cyton_linux.py $TRAVIS_BUILD_DIR/tests/cpp/build/test_get_data 0

after_success:
  - sudo -H pip3 install awscli
  - aws s3 cp $TRAVIS_BUILD_DIR/installed/lib/ s3://brainflow-artifacts/%APPVEYOR_REPO_COMMIT%/linux --recursive
  # notify that everything is ok
  - echo success > linux_success && aws s3 cp linux_success s3://brainflow-artifacts/%APPVEYOR_REPO_COMMIT%

notifications:
  email:
    on_success: never
    on_failure: always
