---
layout: base
title: BrainFlow
subtitle: How Biosensors Work
---

{% include header.html type="page" %}

<link rel="stylesheet" href="/assets/main_page.css">
  
<article class="post">
    <div class="post-content">
        <div class="wrapper">
            <br>
            <h4 align="center">BrainFlow is a library intended to obtain, parse and analyze EEG, EMG, ECG and other kinds of data from biosensors.</h4>
            <br>
            <div class="key-features">
                <h2>Key Features</h2>
                <br>
                <div class="row"><div class="col-4">
                    <div class="card">
                        <div class="card-text">
                            <h3>Uniform API for All Devices</h3>
                            <p>Develop device agnostic applications to target more users. Switch devices without changes in code.</p>
                        </div>
                        <div class="key-feature-image">
                            <img src="https://live.staticflickr.com/65535/51498858757_4af4c2f600.jpg">
                        </div>
                    </div>
                    </div>
                    <div class="col-4"><div class="card">
                        <div class="card-text">
                            <h3>7 Language Bindings</h3>
                            <p>Deep integration into Python, C++, Java, C# and support for Julia, Matlab and R. Same API across all bindings.</p>
                        </div>
                        <div class="key-feature-image">
                            <img src="https://live.staticflickr.com/65535/51499879008_2e46e9edc1.jpg">
                        </div>
                    </div>
                    </div>
                    <div class="col-4"><div class="card">
                        <div class="card-text">
                            <h3>Signal Processing and ML API</h3>
                            <p>Apply filters, transforms, clean data and calculate derivative metrics from raw data.</p>
                        </div>
                        <div class="key-feature-image">
                            <img src="https://live.staticflickr.com/65535/51499651421_2a8b012bea.jpg">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="community-section">
                <div class="row">
                    <div class="col-8">
                        <h2>Community</h2>
                    </div>
                    <div class="col-10">
                        <p>Join the BrainFlow scientific community to contribute, learn, and get answers to your questions.</p>
                    </div>
                </div>

                <div class="row"><div class="col-4">
                        <div class="card">
                            <a href="https://github.com/brainflow-dev/brainflow">
                                <div>
                                    <div class="card-header-title">
                                        <h3>GitHub</h3>
                                        <img src="https://live.staticflickr.com/65535/49928716881_b95cb78f94_c.jpg">
                                    </div>
                                    <p class="card-summary">Report bugs, request features, discuss issues, and more.</p>
                                </div>
                            </a>
                        </div>
                    </div><div class="col-4">
                        <div class="card">
                            <a href="https://c6ber255cc.execute-api.eu-west-1.amazonaws.com/Express/">
                                <div>
                                    <div class="card-header-title">
                                        <h3>Slack</h3>
                                        <img src="https://live.staticflickr.com/65535/49928235853_e69c6461d7_c.jpg">
                                    </div>
                                    <p class="card-summary">Browse and join discussions on BCI devices, biosensors and BrainFlow.</p>
                                </div>
                            </a>
                        </div>
                    </div><div class="col-4">
                        <div class="card">
                            <a href="https://opencollective.com/brainflow">
                                <div>
                                    <div class="card-header-title">
                                        <h3>Support us</h3>
                                        <img src="https://live.staticflickr.com/65535/50905711412_d911c5a852_c.jpg">
                                    </div>
                                    <p class="card-summary">Help us to develop BrainFlow.</p>
                                </div>
                            </a>
                        </div>
                    </div></div>
            </div>

            <br>

            <div class="news-section">
                <h2>Latest News</h2>
                <div class="row">
                    {% for post in site.posts limit:3 %}
                    <div class="col-4"><div class="card">
                        <a href="{{ post.url | relative_url }}">
                            <div class="card-text">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}</p>
                            </div>
                            {% if post.image %}
                                <div class="key-feature-image">
                                    <a href="{{ post.url | relative_url }}">
                                        <img src="{{ post.image | relative_url }}">
                                    </a>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</article>