sphinx==3.1.2
breathe==4.19.2
brainflow
pandas
mne
matplotlib
ipykernel
nbsphinx
pandoc
sphinxcontrib-ghcontributors
Pygments==2.7.4
sphinxcontrib-matlabdomain==0.11.4
docutils<0.17
sphinx_rtd_theme==0.4.3
