name: Clang Format

on: [push, pull_request]

jobs:
  checkout-and-check-formatting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run clang-format
      uses: DoozyX/clang-format-lint-action@v0.11
      with:
        source: 'src'
        exclude: './third_party'
        extensions: 'h,cpp,c'
        clangFormatVersion: 11
        inplace: False
